/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Raleway&family=Source+Sans+Pro:wght@900&display=swap');


/* Remove defualt margins, padding and borders  */

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}


h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #122C34;
    letter-spacing: 5px;
}


/* Style for Nav Bar */

/* Did this again using previous code i wrote which was not using flexbox so i went back and changed it using flexbox */

#logo {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 200%;
}

#menu {
    padding-bottom: 15px;
}


#menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style: none;
    text-transform: uppercase;
 }

 #menu li {
    margin-top: 15px;
    margin-right: 50px;
    background-color: white;
    border: 3px solid #122C34;
    border-radius: 25px;

    padding: 8px 50px 8px 50px;

 }

#menu a {
    text-decoration: none;
    color: #122C34;
}
#menu li:hover {
    background-color: #122C34;
    cursor: pointer;
}

/* asked for help on how to make the text color of white show */

#menu li:hover a  {
    color: white;
    cursor: pointer;
}


/* This is where i started looking into flexbox to start using it since my mentor recommended it */


/* Hero Image */


#hero-section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* I used MDN (https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient) for help to make the white text show since the backgroudd img made it hard to see the text */
#hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../images/hero-image.jpg) no-repeat center center;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}


#cover-text {
    text-transform: capitalize;
    letter-spacing: 5px;
    text-align: center;
    align-items: center;

    position: absolute;
}

#cover-text h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 300%;
}

#cover-text h3 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 150%;
}


.contact-btn a {
    text-decoration: none;
    color: #122C34;
    background-color: white;

}

.btn {
    padding: 10px;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.btn:hover {
    background-color: black;
    color: white;
}


/* Aboout Us Section */

.about-us {
    font-size: 48px;
    letter-spacing: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}


#about-us-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 400px;

}

#about-us-con div {
    
    width: 300px;
    background: #D3D3D3;
    margin: 20px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
}

/* I used MDN (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow) to help understand box shadow */

#about-us-con div:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#about-us-con h3 {
    font-family: 'Inter', sans-serif;
    padding: 20px;
    font-size: 150%;
}

.left-about p {
    padding: 2px;
    font-size: 100%;
}

.center-about p {
    padding: 4px;
    font-size: 100%;
}

.right-about table {
    padding: 4px;
    margin-left: 40px;
    font-size: 100%;
}




/*  About the coaches section */


/*  To make the cards a watched a youtbe video (https://www.youtube.com/watch?v=qXRYMdvq_Dc) which helped me grasp the idea on how cards words and made changes to fit the idea of my website */
.coach-header {
    position: absolute;
    font-size: 35px;
    letter-spacing: 4px;
}

.coach-con {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.coach-card {
    background: white;
    width: 270px;
    
    margin: 150px 10px 15px 10px;
    border-radius: 15px;
    text-align: center;
    border: 3px solid black;
}

.coach-card-image {
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.car-1 {
    background-image: url(../images/coach-3.jpg);
}

.car-2 {
    background-image: url(../images/coach-2.jpg);
}

.car-3 {
    background-image: url(../images/coach-1.jpg);
}


/* I used MDN (https://www.w3schools.com/css/css3_transitions.asp) to help with transition */
.coach-card:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.coach-card h2 {
    font-family: 'Inter', sans-serif;
    padding-bottom: 30px;
}

.coach-card p {
    padding-left: 10px;
    padding-right: 10px;
}


/* footer with social links  */


#footer-con {
    background-color: white;
}

.logo-address {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    padding-top: 110px;
}


.logo-address h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #122C34;
    letter-spacing: 5px;
}

.logo-address p {
    padding-top: 15px;
    color: #122C34;
}


.icons ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 15px;
}

.icons li {
    padding: 0 15px 15px 15px;
}

.icons a {
    color: #122C34;
    font-size: 28px;
}

/* got help by my mentor to understand how to make it get a bit bigger */
.icons li:hover {
    transform: scale(1.3);
}


/* Gallery */


.gallery-header h1 {

    font-size: 35px;
    letter-spacing: 4px;
    text-align: center;
    font-family: inherit;

    padding: 35px 0 35px 0;

}

/* To code the gallery i used code from the love running project and made some modifiications */

.photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}


.photos img {
    width: 100%;
}



/* form */


#contact-us-section {
    max-width: 500px;
    margin: 0 auto;
}

.personl-input {
    margin-bottom: 35px;
}


.personl-input label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


/* wanted to style all inputs together so used MDN (https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors) to recall how */
.personl-input input[type="text"],
.personl-input input[type="email"],
.personl-input input[type="tel"],
.personl-input textarea {

    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #122C34;
    border-radius: 15px;
}

/* used MDN (https://developer.mozilla.org/en-US/docs/Web/CSS/:focus) to learn how to make the color change whne you click the input  */


.personl-input input[type="text"]:focus,
.personl-input input[type="email"]:focus,
.personl-input input[type="tel"]:focus,
.personl-input textarea:focus {
    border-color: white;
}




.reason-input {
    margin-bottom: 35px;
}

.checkbox label {
    margin-right: 35px;
}


#other {
    height: 100px;
    border: 3px solid #122C34;
    border-radius: 15px;
    font-size: 16px;
    padding: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #122C34;
    color: white;
    border-radius: 15px;
   cursor: pointer;
   font-size: 16px;
}

input[type="submit"]:hover {
   opacity: 0.5;
}







/* For medium screens from 950px and Down */
@media screen and (max-width: 950px) {

    
}

/* For small screens from 550px and down */

@media screen and (max-width: 550px) {


  

    .coach-header {
        text-align: center;
        margin-top: 50px;

        position: relative;

    }

    .coach-card {
        margin-top: 50px
    }
    
}

