/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Raleway&family=Source+Sans+Pro:wght@900&display=swap');


/* Remove defualt margins, padding and borders  */

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family:'Raleway', sans-serif;
    font-weight: 400;
}


h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #122C34;
    letter-spacing: 5px;
}


/* Style for Nav Bar */

#bubble {
    background-color: white;
    border: 3px solid ;
    border-radius: 25px;
    padding:8px;
}

#bubble:hover {
    background-color: black;
}

#menu a:hover {
    color: white;
}

#logo {
   float: left;
   margin-left: 30px;
   margin-top: 20px;
   font-size: 200%;
}

#menu a {
    text-decoration: none;
    color: #122C34;
}

#menu {
    font-size: 130%;
    letter-spacing: 2px;
    padding-bottom: 90px;
}

#menu ul {
    
    text-transform: uppercase;
    float: right;
    list-style: none;
}

#menu div {
    float: right;
    margin-right: 50px;
    margin-top: 18px;
}


/* Hero Image */


#hero-section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-image {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
     url(../assets/images/hero-image.jpg) no-repeat center center;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}


#cover-text  {
    text-transform: capitalize;
    letter-spacing: 5px;
    text-align: center;
    align-items: center;
    
    position: absolute;
}

#cover-text h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 300%;
}

#cover-text h3 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 150%;
}


.contact-btn a {
    text-decoration: none;
    color: black;
    background-color: white;
    
}

.btn {
   padding: 10px;
   border-radius: 25px;
   font-family:'Raleway', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
}

.btn:hover {
    background-color: black;
    color: white;
}


/* Aboout Us Section */


.about-section h2 {
    display: flex;
    justify-content: center;

    padding-top: 8%;
    padding-bottom: 3%;
}

.about {
    font-size: 36px;
    letter-spacing: 4px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    
}

#about-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    
}

#about-con div {
    height: 300px;
    width: 300px;
    background: #D3D3D3;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
}

#about-con div:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); 
}

#about-con h3 {
    font-family:'Inter', sans-serif;
    padding: 20px;
    font-size: 150%;
}

.left-about p {
    padding:2px;
    font-size: 100%;
}

.center-about p {
padding: 4px;
font-size: 100%;
}

.right-about table {
    padding: 4px;
    margin-left: 40px;
    font-size: 100%;
}




/* For medium screens from 950px and Down */
 @media screen and (max-width: 950px) {
    
    #menu {
        clear: left;
        float: left;
       margin-left: 20px;
       margin-bottom: -80px;
    }

    
 }

 /* For small screens from 550px and down */

 @media screen and (max-width: 550px) {
    

    #menu div {
        clear: both;
        float: left;
        margin-right: 300px;
        width: 120px;
        position: static;
        text-align: center;
    }
 }
 