/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Raleway&family=Source+Sans+Pro:wght@900&display=swap');


/* Remove defualt margins, padding and borders  */

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family:'Raleway', sans-serif;
    font-weight: 400;
}


h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #122C34;
    letter-spacing: 5px;
}


/* Style for Nav Bar */

#bubble {
    background-color: white;
    border: 3px solid ;
    border-radius: 25px;
    padding:8px;
}

#bubble:hover {
    background-color: black;
}

#bubble a:hover {
    color: white;
}

#logo {
   float: left;
   margin-left: 30px;
   margin-top: 20px;
   font-size: 200%;
}

#menu a {
    text-decoration: none;
    color: #122C34;
}

#menu {
    font-size: 130%;
    letter-spacing: 2px;
    padding-bottom: 90px;
}

#menu ul {
    
    text-transform: uppercase;
    float: right;
    list-style: none;
}

#menu div {
    float: right;
    margin-right: 50px;
    margin-top: 18px;
}

/* Hero Image */


#hero-section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-image {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
     url(../assets/images/hero-image.jpg) no-repeat center center;
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}


#cover-text  {
    text-transform: capitalize;
    letter-spacing: 5px;
    text-align: center;
    align-items: center;
    
    position: absolute;
}

#cover-text h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 300%;
}

#cover-text h3 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 150%;
}